.back{
  font-size: 30px;
  position: absolute;
  width: auto;
  padding: 10px;
  top: 20px;
  left: 20px;
  background: #fff;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  z-index: 1;
}
.back:hover{
  text-decoration: underline;
}
@media (prefers-color-scheme: dark){
  .back{
    background: #222222;
    color: #ddd;
  }
}
